body { font-family: Oswald,sans-serif; margin: 0; padding: 0; }
a {text-decoration: none; color: #262626;}

.grey-color { color: #757575!important; }
.white-color { color: #ffffff!important; }

.main-header { position: fixed; padding: 10px 50px; height: 60px; width: calc(100% - 100px); background-color: transparent; z-index: 1; transition: background-color 0.3s ease; }
.main-header.scroll { background-color: #12203a; transition: background-color 0.3s ease; }
.main-header .logo { display: inline-block; float: left; top: 50%; transform: translateY(10%);}
.main-header .logo img {width: 150px; height: 52px;}
.main-header .btn-menu { width: 40px; height: 40px; border: none; background: url("./data/image/icons/Menu.svg"); background-repeat: no-repeat; }
.main-header img { height: 40px; }
.main-header ul { display: inline-block; float: right; line-height: 40px; margin: 0; }
.main-header ul li { display: inline; margin-right: 20px; vertical-align: text-top; }
.main-header ul li a { font-size: 18px; color: #fff;  text-decoration: none;}

.slider { width: 100%; height: 100vh; position: relative; color: #fff; overflow: hidden; }
.slider * { color: #fff; }
.slider .slides { margin: 0; padding: 0; display: block; overflow: hidden; position: absolute; left: 0; transition: 1s; }
.slider .slides .slide-item { width: 100vw; height: 100vh; display: block; float: left; position: relative; }
.slide-item .slide-content { position: absolute; bottom: 150px; left: 10%; max-width: 80%;}
.slide-item h1 { text-align: center; text-transform: uppercase; font-size: 60px; margin: 0; }
.slide-item span { font-weight: 300;}
.slide-item p { text-align: center; margin: 10px 0 0 0; font-size: 32px;}
.slider .slides .slide-item.item1 { background: url("./data/image/images/home-banner-1.jpg"); background-position: top center; background-repeat: no-repeat; background-size: cover;}
.slider .slides .slide-item.item2 { background: url("./data/image/images/home-banner-2.jpg"); background-position: top center; background-repeat: no-repeat; background-size: cover;}
.slider .slides .slide-item.item3 { background: url("./data/image/images/home-banner-4.jpg"); background-position: top center; background-repeat: no-repeat; background-size: cover;}
.slider .slides .slide-item.item4 { background: url("./data/image/images/home-banner-3.jpg"); background-position: top center; background-repeat: no-repeat; background-size: cover;}
.slider .slider-actions { position: absolute; bottom: 40px; width: 200px; text-align: center; left: calc(50% - 100px); }
.slider .slider-actions .btn-previus { width: 40px; height: 40px; float: left; background-color: transparent; padding: 0; border: none; cursor: pointer }
.slider .slider-actions .btn-next { width: 40px; height: 40px; float: right; background-color: transparent; padding: 0; border: none; cursor: pointer }
.slider .slider-actions img {text-align: center; top: 50%; transform: translateY(26%);}
.slider img { width: 40px; height: 40px; }
.slider .slider-actions span {font-size: 35px; }

.box .title-venture { text-align: center; }
.box .title-venture a { font-size: 42px; font-weight: 400; }
.box .title-venture a:hover {color: #186ab4;}
.box .title-venture .title { font-size: 32pt; font-weight: 400; text-align: center; text-transform: uppercase; margin-bottom: 40px; letter-spacing: .5px; }
.box { padding: 50px 0 100px; clear: both; }
.container { width: 84%; padding-right: 10px; padding-left: 10px; margin-right: auto; margin-left: auto;}
.box-1 { padding-bottom: 70px;}
.box h2 { font-size: 48px; text-transform: uppercase; }
.box h3 { font-size: 28px; color: #262626; }
.box h4 { font-size: 22px; color: #262626; margin: 10px 0; min-height: 55px; }
.box p { font-size: 30px; color: #757575; margin-bottom: 100px; min-height: 55px; text-align-last: center; text-align: justify;}
.box-1 .items { display: flex; }
.box-1 .item { padding: 0 45px; text-align: center; flex:1 }
.box-1 .item p { font-size: 22px; margin: 0; font-weight: 200;}
.box-1 .image { margin: 0px 0px 60px; text-align: center;}
.box .item-title { cursor: pointer; }
.box .item-title h3 { font-weight: 400; text-transform: uppercase;}
.box .item-title:hover h3{ color: #186ab4; }
.container .describe { font-size: 30px; text-align: center; padding-bottom: 120px; margin: 0 auto; color: #757575; text-align: center; font-weight: 300;}

.box-bg {background: url("./data/image/images/paralax-domains.jpg"); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover; padding-bottom: 70px;}
.sub-slider { position: relative; overflow: hidden; color: #fff; height: 750px;}
.sub-slider .slides { margin: 0; padding: 0; overflow: hidden; position: absolute; left: 0; transition: left 2s ease; display: flex; }
.sub-slider .slides .slide-item { padding-right: 45px; padding-left: 45px; text-align: center; }
.container.sub-slider p { color: #fff; font-size: 22px; font-weight: 100;}
.container.sub-slider h3 {color: #fff}
.container.sub-slider a {color: #fff}
.container button { width: 70px; height: 70px; position: absolute; top: 50%; background-color: transparent; padding: 0; border: none; cursor: pointer }
.container .btn-next { right: -10px; }
.container .btn-previus { left: -10px; }
.container .btn-next img, 
.container .btn-previus img{ height: 70px; width: 70px;}

.footer {width: 100%; height: 1000px;}